/* Estilo geral para a página de login */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e8f5e9, #c8e6c9); /* Degradê de verdes claros */
    color: #333;
}

/* Header */
.header {
    background-color: #f1f8e9; /* Cor de fundo clara */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #2e7d32; /* Verde escuro */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
/* Títulos */
.title {
    font-size: 3rem;
    color: #2e7d32; /* Cor verde */
    font-weight: bold;
}


.project-title {
    font-size: 2rem;
    color: #388e3c; /* Cor verde escuro */
    font-weight: bold;
}

.lead {
    font-size: 1.25rem;
    color: #444; /* Cor do texto padrão */
    line-height: 1.6;
}

/* Estilo das imagens da equipe */
.team-img {
    border-radius: 10px;
    width: 100%;
    height: 250px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Faz as imagens se ajustarem dentro da caixa sem distorção */
}

/* Estilo das colunas de membros da equipe */
.row {
    margin-top: 20px;
}

.col-md-4 {
    margin-bottom: 30px;
}

/* Imagens */
img {
    max-width: 100%;
    height: auto;
}

/* Ajustando a largura do label para 25% */
label {
    width: 25%;  /* Agora o label ocupa apenas 25% da largura do elemento pai */
    display: inline-block;  /* Garante que o label ocupe a largura que você definir */
    margin-bottom: 10px;  /* Pequeno espaçamento abaixo do label */
}


/* Ajustando o botão para ter a largura necessária para o seu conteúdo */
button, .btn-custom {
    width: auto;  /* O botão vai ajustar a largura automaticamente com base no conteúdo */
    padding: 6px 12px;  /* Reduzido o espaçamento interno para um botão menor */
    font-size: 12px;  /* Ajuste no tamanho da fonte para deixá-lo ainda mais compacto */
}
